main {
  height: 100vh;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 7rem;
  line-height: 7.1rem;
  margin: 0;
  font-weight: 500;
}

h2 {
  font-weight: normal;
}
