// Menu overlay
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  visibility: hidden;
  &.show {
    visibility: visible;
    z-index: 2;
  }

  &__brand,
  &__navigation {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &__navigation {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    &.show {
      // Slide in from the bottom
      transform: translate3d(0, 0, 0);
    }
  }

  &__brand {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;
    &.show {
      // Slide in from the bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 25rem;
      height: 25rem;
      background: url(../assets/images/portrait.png);
      border-radius: 50%;
      border: solid 2px $secondary-color;
    }
  }

  .menu__navigation__item {
    transform: translate3d(600px, 0, 0);
    font-weight: 400;
    color: set-text-color($primary-color);
    @include easeOut;
    &.show {
      // Slide in from the right
      transform: translate3d(0, 0, 0);
    }
  }

  .menu__navigation__item__link {
    display: inline-block;
    position: relative;
    font-size: $large-size;
    text-transform: uppercase;
    padding: $medium-size 0;
    text-decoration: none;
    letter-spacing: 0.2rem;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .menu__navigation__item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
