.portfolio-main {
  text-align: left;
  justify-content: space-around;
  padding: 15rem 10rem;
  overflow: hidden;

  .portfolio-intro {
    display: flex;
    flex-wrap: wrap;

    .portfolio-description {
      flex-basis: 60%;
      animation: slide-right 1s ease-out;

      .page-title {
        margin-top: 0;
      }

      .page-subtitle {
        width: 90%;
      }
    }

    .portfolio-skills {
      flex-basis: 40%;
      padding-top: 0.5rem;

      .skill-container {
        width: 100%;
        display: block;
        margin-top: 1.5rem;
        height: 2rem;
        border: 1px solid $third-color;
        border-radius: 5px;
        animation: slide-left 1s ease-out;

        .skill-color {
          background: $third-color;
          height: inherit;
          display: flex;
          justify-content: space-between;
          padding: 0 1rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.projects {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem;
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
