@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  font-size: $medium-size;
  background: $primary-color;
  height: 100%;
  color: #fdfffc;
}

a {
  color: #fdfffc;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
  }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: 500;
  color: $secondary-color;
}

// Common classes
.text-secondary {
  color: $secondary-color;
}
