// Colors
$primary-color: #1b065e;
$secondary-color: #95c623;

// Spacing
$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;

// Main transition effect
@mixin easeOut {
  transition: all 0.5s ease-out;
}

// Set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fffffa;
  }
}
